<mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step>
            <ng-template matStepLabel>General</ng-template>
            <app-general-info></app-general-info>
            <div>
                <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>ANT</ng-template>
                <app-anthropometry></app-anthropometry>

                <!-- <mat-form-field>
              <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>E&V</ng-template>
                <app-eyevision></app-eyevision>
                <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>D&O</ng-template>
                <app-dentaloral></app-dentaloral>
                <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>A&ST</ng-template>
                <app-audiomentry></app-audiomentry>
                <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>N-A</ng-template>
                <app-nutritional></app-nutritional>
                <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>PAM</ng-template>
                <app-pschycological></app-pschycological>
                <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>GAM</ng-template>
                <app-general-assesment></app-general-assesment>
                <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
              </mat-form-field> -->
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <!-- <button mat-raised-button color="primary" matStepperNext>Next</button> -->
                    <button mat-raised-button color="primary" (click)="save() ; stepper.reset()">Save & Download Pdf</button>
                </div>
            </form>
        </mat-step>

    </mat-horizontal-stepper>
    <!-- <mat-card-actions>
        <div>
            <button mat-raised-button color="primary" (click)="createPdf()">Download Pdf</button>
            <button mat-raised-button color="primary" (click)="save()">Save Record</button>
        </div>
    </mat-card-actions> -->

</mat-card>