<mat-card-title>Nutritional Assessment Module 7 Parameters </mat-card-title>
<mat-card-content>
  <form>

    <div class="row">
      <div class="col-md-3 example-container ">
        <mat-label>Select </mat-label>
      </div>

      <div class="col-md-8 example-container ">
          <mat-radio-group aria-label="Posture: ">
              <mat-radio-button value="1">Anaemic </mat-radio-button>
              <mat-radio-button value="2">Severe Anaemic </mat-radio-button>
              <mat-radio-button value="3">Non Anaemic </mat-radio-button>
            </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
          <mat-label>Vitamin A deficiency: </mat-label>
      </div>

      <div class="col-md-8 example-container ">
          <mat-radio-group aria-label="Dystrophy">
              <mat-radio-button value="1">Yes </mat-radio-button>
              <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>

      <div class="col-md-3 example-container ">
          <mat-label>Vitamin D deficiency: </mat-label>
        </div>
        <div class="col-md-8 example-container ">
            <mat-radio-group aria-label="Dystrophy">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
              </mat-radio-group>
          </div>

        <div class="col-md-3 example-container ">
            <mat-label>Obesity: </mat-label>
          </div>
          <div class="col-md-8 example-container ">
              <mat-radio-group aria-label="Dystrophy">
                  <mat-radio-button value="1">Yes </mat-radio-button>
                  <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </div>

    </div>


   <div class="row">
      <div class="col-md-3 example-container">
        <mat-form-field>
          <input matInput placeholder="Ideal body Weight">
          <span matSuffix>Kg</span>
        </mat-form-field>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3 example-container">
        <mat-form-field>
          <input matInput placeholder="Ideal Calories estimation">
          <span matSuffix>KCal/day</span>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-md-2 example-container">
        <mat-label> Micro nutrient Distribution :</mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Fats">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Cabohydrates">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Proteins">
        </mat-form-field>
      </div>

    <div class="col-md-2 example-container">
      <mat-form-field>
        <input matInput placeholder="Fluid Estimation"><span matSuffix>ml</span>
      </mat-form-field>
    </div>
    <div class="col-md-2 example-container">
      <mat-form-field>
        <input matInput >
        <span matSuffix>glasses</span>
      </mat-form-field>
    </div>
  </div>

    <div class="row">
        <div class="col-md-8 example-container">
          <mat-label>Advice:</mat-label><textarea> </textarea>
        </div>
      </div>
        <div class="row">
        <div class="col-md-8 example-container">
          <mat-label>Remarks:</mat-label><textarea> </textarea>
        </div>
      </div>



  </form>
</mat-card-content>
