<mat-card-title>Audiometry & ?Speech Therapy Module 13?Parameteres</mat-card-title>
<mat-card-content>
  <form>
    <div class="row">
      <div class="col-md-12 example-container">
        <mat-label>Speech Milestones:</mat-label>
        <textarea> </textarea>
      </div>

      <div class="col-md-2 example-container">
        <mat-label>Comprehension: </mat-label>
      </div>
      <div class="col-md-10 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Verbal </mat-radio-button>
          <mat-radio-button value="2">Non Verbal </mat-radio-button>
          <mat-radio-button value="3">Gesture </mat-radio-button>
          <mat-radio-button value="3">Language Age </mat-radio-button>
        </mat-radio-group>
      </div>



      <div class="col-md-2 example-container">
        <mat-label>Expression: </mat-label>
      </div>
      <div class="col-md-10 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Verbal </mat-radio-button>
          <mat-radio-button value="2">Non Verbal </mat-radio-button>
          <mat-radio-button value="3">Gesture </mat-radio-button>
          <mat-radio-button value="3">Language Age </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Mode of communication:</mat-label>
        <textarea></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Auditory Skills:</mat-label>
        <textarea> </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Parent's Opinion about hearing loss:</mat-label>
        <textarea></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 example-container">
        <mat-label>Hearing loss: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal">
          <mat-radio-button value="1">Static </mat-radio-button>
          <mat-radio-button value="2">Progressive </mat-radio-button>
          <mat-radio-button value="3">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container">
        <mat-label>Tinnitus: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Yes </mat-radio-button>
          <mat-radio-button value="2">No </mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="col-md-3 example-container">
        <mat-label>Lt. Ear Perforation: </mat-label>
      </div>

      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Yes </mat-radio-button>
          <mat-radio-button value="2">No </mat-radio-button>
        </mat-radio-group>

      </div>


      <div class="col-md-3 example-container">
        <mat-label>Rt. Ear Perforation: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Yes </mat-radio-button>
          <mat-radio-button value="2">No </mat-radio-button>
        </mat-radio-group>

      </div>

      <div class="col-md-3 example-container">
        <mat-label>Respond on Name Call: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Yes </mat-radio-button>
          <mat-radio-button value="2">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container">
        <mat-label>Hearing Assessment Result: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">PTA </mat-radio-button>
          <mat-radio-button value="2">BOA </mat-radio-button>
          <mat-radio-button value="2">VRA </mat-radio-button>
          <mat-radio-button value="2">AVR </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container">
        <mat-label>B/L Wax: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Periodontal: ">
          <mat-radio-button value="1">Yes </mat-radio-button>
          <mat-radio-button value="2">No </mat-radio-button>
        </mat-radio-group>
      </div>

    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Medical History (if any):</mat-label><textarea> </textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Advice:</mat-label><textarea> </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Remarks:</mat-label><textarea> </textarea>
      </div>
    </div>


  </form>
</mat-card-content>
