<mat-card-title>EYE VISION ASSESSMENT 16 Parameteres</mat-card-title>
<mat-card-content>
  <form>
    <div class="row">
      <div class="col-md-6 example-container">
        <h3>Right</h3>
      </div>


      <div class="col-md-6 example-container">
     <h3>Left</h3>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Vision</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>

      <div class="col-md-2 example-container">
        <mat-label><b>Refraction</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Colour Vision</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Disease</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Squint</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Micro Eye Ball</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Ptosis</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-label><b>Nystgmus</b> </mat-label>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Rt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Lt. Eye">
        </mat-form-field>
      </div>
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Remarks :">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Advice:</mat-label><textarea> </textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Remarks:</mat-label><textarea> </textarea>
      </div>
    </div>
  </form>
</mat-card-content>
