<mat-card-title>Child Info</mat-card-title>
<mat-card-content>
    <form>
        <div class="row">
            <div class="col-md-6 example-container">
                <mat-form-field>
                    <input matInput placeholder="Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Mother's Name">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Father's Name">
                </mat-form-field>
            </div>
            <div class="col-md-6 example-container">
                <mat-form-field>
                    <input matInput placeholder="Date of Birth">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Phone No.">
                </mat-form-field>
            </div>
            <div class="col-md-12 example-container">
                <mat-form-field>
                    <textarea matInput placeholder="Address">
                        </textarea>
                </mat-form-field>

            </div>
        </div>
    </form>
</mat-card-content>