<mat-card-title>ANTHROPOMETRY - 17 Parameters</mat-card-title>
<mat-card-content>
  <form [formGroup]="anhthropometryForm">
    <div class="row">
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Height" formControlName="height">
          <span matSuffix>Ft</span>
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="Weight" formControlName="weight">
          <span matSuffix>Kg</span>
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container">
        <mat-form-field>
          <input matInput placeholder="BMI" formControlName="bmi">
          <span matSuffix>Kg/m <sup>2</sup></span>
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container ">
        <mat-form-field>
          <input matInput placeholder="Blood Pressure" formControlName="bloodpressure">
        </mat-form-field>
      </div>
      <div class="col-md-2 example-container ">
        <mat-form-field>
          <input matInput placeholder="Pulse Rate" formControlName="pulserate">
        </mat-form-field>
      </div>

    </div>

    <div class="row">

    </div>

    <div class="row">
      <div class="col-md-3 example-container">
        <mat-label>Posture: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Posture: " formControlName="posture">
          <mat-radio-button value="Good">Good </mat-radio-button>
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Worst">Worst </mat-radio-button>
        </mat-radio-group>

      </div>

      <div class="col-md-3 example-container">
        <mat-label>Shoulder Range of Motion: </mat-label>

      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Posture: " formControlName="shoulderrange">
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Restricted">Restricted </mat-radio-button>
          <mat-radio-button value="Hyper Moves">Hyper Moves </mat-radio-button>
        </mat-radio-group>

      </div>

      <div class="col-md-3 example-container">

        <mat-label>Neck Range of Motion: </mat-label>
      </div>
      <div class="col-md-9 example-container">

        <mat-radio-group aria-label="Posture: " formControlName="neckrange">
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Restricted">Restricted </mat-radio-button>
          <mat-radio-button value="Hyper Moves">Hyper Moves </mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="col-md-3 example-container">
        <mat-label>Rt. Leg Range of Motion: </mat-label>

      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Posture: " formControlName="rtlegrange">
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Restricted">Restricted </mat-radio-button>
          <mat-radio-button value="Hyper Moves">Hyper Moves </mat-radio-button>
        </mat-radio-group>

      </div>


      <div class="col-md-3 example-container">
        <mat-label>Lt. Leg Range of Motion: </mat-label>

      </div>
      <div class="col-md-9 example-container">

        <mat-radio-group aria-label="Posture: " formControlName="ltlegrange">
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Restricted">Restricted </mat-radio-button>
          <mat-radio-button value="Hyper Moves">Hyper Moves </mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="col-md-3 example-container">
        <mat-label>Dystrophy: </mat-label>

      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Dystrophy" formControlName="dystrophy">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>

      </div>


      <div class="col-md-3 example-container">
        <mat-label>Antrophy: </mat-label>

      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Dystrophy" formControlName="atrophy">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>


      </div>


      <div class="col-md-3 example-container">
        <mat-label>Stamina : </mat-label>

      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Stamina" formControlName="stamina">
          <mat-radio-button value="Good">Good </mat-radio-button>
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Weak">Weak </mat-radio-button>
        </mat-radio-group>

      </div>
      <div class="col-md-3 example-container">
        <mat-label>Endurance : </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Endurance" formControlName="endurance">
          <mat-radio-button value="Good">Good </mat-radio-button>
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Weak">Weak </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-3 example-container">
        <mat-label>Pain: </mat-label>
      </div>
      <div class="col-md-9 example-container">
        <mat-radio-group aria-label="Endurance" formControlName="pain">
          <mat-radio-button value="Muscular">Muscular </mat-radio-button>
          <mat-radio-button value="Joints">Joints </mat-radio-button>
          <mat-radio-button value="Neurological">Neurological </mat-radio-button>
          <mat-radio-button value=">No Pain">No Pain</mat-radio-button>
        </mat-radio-group>
      </div>

    </div>



    <div class="row">
      <div class="col-md-3 example-container ">
        <mat-form-field>
          <input matInput placeholder="Pain Position" formControlName="painposition">
        </mat-form-field>
      </div>
      <div class="col-md-3 example-container ">
        <mat-form-field> <input matInput placeholder="Pain Type" formControlName="paintype">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 example-container">
        <mat-label>Spasm : </mat-label>
      </div>
      <div class="col-md-8 example-container">
        <mat-radio-group aria-label="Endurance" formControlName="spasm">
          <mat-radio-button value="Mild">Mild </mat-radio-button>
          <mat-radio-button value="Heavy">Heavy </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 example-container">
        <mat-form-field>
          <input matInput placeholder="Spasm Position" formControlName="spasmposition">
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Advice:</mat-label><textarea formControlName="advice"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Remarks:</mat-label><textarea formControlName="remarks"></textarea>
      </div>
    </div>

  </form>
</mat-card-content>