<mat-card-title>General Assessment Module 12 Parameters</mat-card-title>
<mat-card-content>
  <form [formGroup]="generalassessmentForm">
    <div class="row">
      <div class="col-md-3 example-container ">
        <mat-label>Chest Auscultation : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="chestauscultation">
          <mat-radio-button value="Clear">Clear </mat-radio-button>
          <mat-radio-button value="Not Clear">Not Clear </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Abdomen Palpitation : </mat-label>
      </div>
      <div class="col-md-9 example-container ">
        <mat-radio-group aria-label="Dystrophy"  formControlName="abdomenpalpitation">
          <mat-radio-button value="Tender">Tender </mat-radio-button>
          <mat-radio-button value="Soft">Soft </mat-radio-button>
          <mat-radio-button value="Distended">Distended </mat-radio-button>
          <mat-radio-button value="Normal">Normal </mat-radio-button>
          <mat-radio-button value="Tempt">Tempt </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Active infectious Disease (if Any) :</mat-label>
      </div>
      <div class="col-md-9 example-container ">
        <mat-form-field>
          <input matInput placeholder="Remarks :" formControlName="activeinfectious">
        </mat-form-field>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Cleft Lip & Palate : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="cleftlip">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Club Foot : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="clubfoot">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Congenital Cataract : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="congenitalcataract">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Congenital Deafness : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="congenitaldeafness">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Congenital Heart Disease : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="congenitalheart">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label> Skin Condition (if Any) :</mat-label>
      </div>
      <div class="col-md-9 example-container ">
        <mat-form-field>
          <input matInput placeholder="Remarks :" formControlName="skincondition">
        </mat-form-field>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Otitis Media : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="otitis">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-md-3 example-container ">
        <mat-label>Neuro Motor Impairment : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="neuromotor">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-3 example-container ">
        <mat-label>Body Type : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="bodytype">
          <mat-radio-button value="Thin">Thin </mat-radio-button>
          <mat-radio-button value="Average">Average </mat-radio-button>
          <mat-radio-button value="Faty">Faty </mat-radio-button>
        </mat-radio-group>
      </div>


    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Advice:</mat-label><textarea formControlName="advice"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Remarks:</mat-label><textarea formControlName="remarks"></textarea>
      </div>
    </div>





  </form>
</mat-card-content>
