<mat-card-title>Pschycological Assesment Module 17 ?Parameters</mat-card-title>
<mat-card-content>
  <form [formGroup]="pschycologicalForm">
    <div class="row">
      <div class="col-md-4 example-container ">
        <mat-label>Behavior Disorder : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="behaviordisorder">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Learning Disorder : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="learningdisorder">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Attention Deficit Hyperactivity Disorder (ADHD) : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="attentiondeficit">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Depression : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="depression">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Anxiety : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="anxiety">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Eating Disorder : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="eatingdisorder">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Phobia : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="phobia">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
        <mat-form-field>
            <input matInput placeholder="Remarks :">
          </mat-form-field>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Video Game Addiction : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="videogame">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Internet Addiction : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="internetaddiction">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Social Anxiety Disorder : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="socialanxiety">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Schizophrenia : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="schizophrenia">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Sleep Disorder : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="sleepdisorder">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>


      <div class="col-md-12 example-container ">
     <h4>Adolcent Health Issues (Above 12 Years)</h4>
      </div>
      <div class="col-md-4 example-container ">
        <mat-label>Substance Abuse : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="substanceabuse">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Delay in Menstruation Cycles : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="delayinmenstruation">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Irregular Periods : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="irregularperiods">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Pain During Menstruation : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="painduringmenstruation">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="col-md-4 example-container ">
        <mat-label>Pain or Burning Sensation while urinating : </mat-label>
      </div>
      <div class="col-md-8 example-container ">
        <mat-radio-group aria-label="Dystrophy" formControlName="painorburning">
          <mat-radio-button value="Yes">Yes </mat-radio-button>
          <mat-radio-button value="No">No </mat-radio-button>
        </mat-radio-group>
      </div>

    </div>

    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Advice:</mat-label><textarea formControlName="advice"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 example-container">
        <mat-label>Remarks:</mat-label><textarea formControlName="remarks"></textarea>
      </div>
    </div>


  </form>
</mat-card-content>
